.container-provider {
  position: absolute;
  max-width: 30%;
}

.container-note {
  position: absolute;
  max-width: 30%;
  margin-left: 35%;
}

.container-contact {
  position: absolute;
  max-width: 30%;
  margin-left: 70%;
}
