<app-nav></app-nav>

<router-outlet></router-outlet>

<div class="row">
  <div class="col-75">
    <div class="title">
      <span>Provider Detail</span>
      <div class="btn-group">
        <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="edit(provider)">Edit</button>
          <button class="dropdown-item" (click)="delete(provider)">Delete</button>
        </div>
      </div>
    </div>
    <div class="container">
      <p>provider Id: {{provider.id}}</p>
      <p>Name: {{provider.name | uppercase}}</p>
      <p>Address: {{provider.address}}</p>
      <p>Country: {{provider.country}}</p>
      <p>City: {{provider.city}}</p>
      <p>State: {{provider.state | uppercase}}</p>
      <p>Zip: {{provider.zip}}</p>
      <p>Phone: {{provider.phone}}</p>
      <p>Fax: {{provider.fax}}</p>
      <p>Toll Free: {{provider.toll_free}}</p>
      <p>Email: {{provider.email}}</p>
      <p>Business Hours: {{provider.start_time}} - {{provider.end_time}}</p>
      <p>User: {{provider.user}}</p>
    </div>
  </div>

  <div class="col-50">
    <div class="title">
      <span>Notes</span>
      <div class="btn-group">
        <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" >Add Note</a>
          <a class="dropdown-item" >Edit</a>
        </div>
      </div>
    </div>
    <div class="container">
      <app-note></app-note>
    </div>
  </div>

  <div class="col-25">
    <div class="title">
      <span>Contact</span>
      <div class="btn-group">
        <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" >Add Contact</a>
          <a class="dropdown-item" >Edit</a>
        </div>
      </div>
    </div>
    <div class="container">
      <app-contact></app-contact>
    </div>
  </div>

</div>
